.calculation {
    &__wrap {
        padding: 118px 102px 188px 140px;
    }
    &__title {
        margin-bottom: 45px;
        font-size: 60px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: -1.2px;
    }
    &__slider {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 70px;

    }
    &__choice {
        font-size: 20px;
    }
    &__result {
        height: 360px;
        border-radius: 30px;
        background: #2D2D2D;
        color: #FFF;
        padding: 40px 40px 46px 40px;       
    }
}

.amount, .term {
    line-height: 28px;
    margin-bottom: 64px;  
    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 27px;
    }
    &__pick {
        width: 300px;
    }
    &__slider {
        width: 690px;
        margin-bottom: 7px;
    }
    &__meaning {
        display: flex;
        justify-content: space-between;
        font-weight: 300;

    }
    &__result {
        font-size: 30px;
        font-weight: 500;
        margin-right: 10px;
    }
    &__wrap {
        display: flex;        
    }
}

.amount__symbol, .term__days {
    font-size: 30px;
    font-weight: 500;
}

.term {
 margin: 0;
}

.result {
    color: #B9B9B9;
    font-size: 20px;
    font-weight: 400;
    &__amount {
        margin-bottom: 24px;
        line-height: 28px
    }
    &__amount-money, .result__term-data {
        margin-top: 10px;
        color: #FFF;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: -0.8px;
    }
    &__ruble {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.4px;
    }
    &__term {
        margin-bottom: 24px;
    }
}