.promo {
    &__wrap {
        position: relative;
        padding: 113px 140px 40px 140px;
    }
    &__title {
        width: 415px;
        margin-bottom: 33px;
        font-size: 57px;
        font-weight: 500;
        line-height: 57px;
        letter-spacing: -1.14px;
    }
    &__subtitle {
        width: 331px;
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;        
    }
    &__phone {
        position: absolute;
        top: -76px;
        left: 323px;
    }
    &__message-left {
        position: absolute;
        z-index: 2;
        top: 45px;
        right: 262px;
    }
    &__message-right {
        position: absolute;
        z-index: 3;
        top: 252px;
        right: 41px;;       
    }
}

.cards {
    display: flex;
    align-items: center;
    width: 592px;
    height: 44px;
    &__text {
        width: 62px;
        margin-right: 43px;
        color: $main-color;
        font-size: 13px;
        font-weight: 300;
        line-height: 120%;
    }
    &__list {
        width: 487px;
        display: flex;
        align-items: center;
        gap: 30px;
    }
}

