.rates {
    &__wrap {
        padding: 105px 0 40px 164px;
    }
    &__title {
        width: 823px;
        margin: 0;
        font-size: 60px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -1.2px;
        margin-bottom: 61px;
    }
}

.container-rates {
    padding: 0 0;
    margin: 0 auto;
}

.start, .turnover, .gold {
    &__wrap {
        position: relative;
        width: 990px;
        padding: 53px 69px 50px 60px;
        border-radius: 30px;
        background: #F1F1F1;

    }
    &__rate {
        margin-bottom: 1px;
        color: $main-color;        
    }
    &__title {
        margin-bottom: 23px;
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.6px;      
    }
    &__descr {
        width: 255px;
        margin-bottom: 33px;
        color: $main-color;
        line-height: 20px;
    }
    &__percent {
        width: 310px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
        font-size: 20px;
        line-height: 28px;
    }
    &__percent_weight {
        font-weight: 500;
    }
    &__amount {
        display: flex;
        justify-content: space-between;
        width: 310px;
        margin-bottom: 52px;    
        font-size: 20px;
        line-height: 28px;    
    }
    &__amount_color {
        color: #3C50E8;
        font-weight: 700;
    }
    &__card-start {
        position: absolute;
        z-index: 1;
        left: 575px;
        top: 57px;
    }
    &__card-turnover-part {
        position: absolute;
        z-index: 4;
        top: 84px;
        right: -636px;
        width: 439px;
    }
    &__card-turnover {
        position: absolute;
        z-index: 1;
        left: 575px;
        top: 57px;
    }
    &__card-gold {
        position: absolute;
        z-index: 5;
        left: 575px;
        top: 57px;
    }
}

.slick-prev {
    position: absolute;
    bottom: 70px;
    left: 409px;
    z-index: 4;
}

.slick-next {
    position: absolute;
    bottom: 70px;
    left: 489px;
    z-index: 4;
}